* {
    border: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    box-sizing: border-box;
}

h1 {
    background-color: rgb(0, 0, 0);
    color: rgb(243, 243, 243);
    padding: 1rem;
    font-size: 3rem;
}

.portada {
    width: 100%;
}

.conjunto {
    width: 80%;
    margin: auto;
}

.conjunto div {
    display: inline-block;
    text-align: left;
    font: normal normal 300 16px/19px Raleway;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    top: 876px;
    left: 150px;
    width: 475px;
    height: 197px;
}

.conjunto img {
    width: 400px;
}

h2 {
    font-size: 2.5rem;
}

.emoticons {
    background-color: rgb(30, 17, 17);
    margin: auto;

}
.emoticons div {
    display: inline-block;
    width: 30rem;
    font-size: 2rem;
}
.emoticons p{
    font-size: 1.5rem;
}
.galeria img {
    width: 300px;
    height: 200px;
    padding: 4rem;
}
footer{
    background-color:rgb(30, 17, 17) ;
    line-height: 6rem;
}
a{
    text-decoration: none;
    color: green;
}